*.pyc
bin/
input/debug/
output/errorplot/
output/now/
output/numcomp/
output/presvel/eps/
output/presvel/npy/
output/sameseed/
output/single_job/
output/txt/
output/tcon/
output/forward/eps
output/forward/npy
output/forward/png
output/forward/pdf
output/monitor/eps
output/monitor/npy
output/monitor/png
output/monitor/pdf
output/sensitivity/npy
output/sensitivity/png
output/sensitivity/eps
output/sensitivity/pdf
output/sensitivity/jpg
output/analysis/npy
output/analysis/png
output/analysis/jpg
output/analysis/pdf
output/analysis/eps
output/gaussianity/npy
output/gaussianity/png
output/gaussianity/jpg
output/gaussianity/pdf
output/gaussianity/eps
lib/
notebook/
