*.pyc
bin/
input/debug/
output/errorplot/
output/now/
output/numcomp/
output/presvel/eps/
output/presvel/npy/
output/sameseed/
output/single_job/
output/txt/
output/tcon/
output/forward/eps
output/forward/npy
output/forward/png
output/forward/pdf
output/sensitivity/npy
output/sensitivity/png
output/sensitivity/eps
output/sensitivity/pdf
lib/
notebook/
