*.pyc
bin/
input/
output/
lib/
notebook/
scripts/analysis/backup/
scripts/errorplot/backup/
scripts/gaussianity/backup/
scripts/monitor/backup/
scripts/presvel/backup/
scripts/sameseed/backup/
scripts/sensitivity/backup/
scripts/single_run/backup/
scripts/forward/backup/
scripts/headbc/backup/
scripts/numcomp/backup/
scripts/pyenkf/backup/
scripts/schubi/backup/
scripts/single_job/backup/
scripts/tcon/backup/
exec/shemat/backup/